<div class="container">
  <h2>My habits</h2>
  <p>Which habits do your dream of having?
    Adapt the list down below to your needs.</p>
  <br>
  <div>
    <label>Insert new habit here:
  <input #habitName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(habitName.value); habitName.value=''">
      add
    </button>
  </div>
  <br>

  <ul class="habits">
    <!-- *ngFor inserts a list of objects -->
    <!-- (click)="onSelect(habit) -> onSelect() method needs to be defined in the habits.component.ts -->
    <li *ngFor="let habit of habits">
      <a routerLink="/detail/{{habit.id}}">
        <span class="badge">{{habit.id}}</span> {{habit.name}}
      </a>
      <button class="delete" title="delete hero"
              (click)="delete(habit)">x</button>
    </li>

  <!-- Routing replaces this code with onSelect() & selectedHero property
    <li *ngFor="let habit of habits"
        [class.selected]="habit === selectedHabit"
        (click)="onSelect(habit)">
        <span class ="badge">{{habit.id}}</span> {{habit.name}}
    </li> -->
  </ul>

<!-- Delete habit details from the HabitsComponent
* by enabling routing to the HabitDetailComponent
<app-habit-detail [habit]="selectedHabit"></app-habit-detail>
-->
</div>
