/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 46%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Application-wide Styles */
h1 {
  line-height: 0.5em;
  color: #283593;
  font-size: 250%;
}
h2, h3 {
  color: #283593;
}
body {

}
body, input[type="text"], button {
  color: #283593;
}
/* everywhere else */
