<h1>Welcome</h1>
<p>On this web app, you can write down the habits that you always dreamed of having</p>
<a routerLink="/habits"><button mat-raised-button color="primary">Start now</button></a>
<br>
<h2>Who is the creator?</h2>
<p>Johannes Ströbele from Stuttgart, Germany</p>
<h2>How was the app created?</h2>
<p>With the framework and the UI component library Angular Material. Check out my Code on GitHub:</p>
<a href="https://github.com/johannesstroebele91/DreamHabits/blob/master/README.md"><button mat-raised-button color="primary">Link to Code</button></a>
